/* nav-bar */
.nav-bar .nav-button#home{
    color: #d01319;
}
.nav-bar .nav-button#home:hover{
    color: #F03A40;
}
.nav-bar .nav-button#home:active{
    color:#F03A40;
}

/* HERO */
section.hero-1{
    /* border:red solid 1px; */
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

div.background-image{
    /* border:green solid 1px; */
    position: absolute;
    background-image: url(/assets/nozo-test2.jpg);
    background-size: cover;
    background-position: center;
    z-index: 0;
    height: 450px;
    width: 100%;
    filter: brightness(10%);
}

div.layer-top{
    /* border:greenyellow 1px solid; */
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin:auto;
    padding: clamp(10px, 2vw, 20px) clamp(15px, 4vw, 30px);
    justify-content: center;
}

h1.hero-title{
    /* border:pink solid 1px; */
    margin:0;
    padding:0;
    flex:1;
    display: flex;
}

h1 img{
    /* border:green solid 1px; */
    display: block;
    flex:1;
    padding:0;
    margin:0;
    max-height: 200px;
    width: 100%;
}

p.hero-text{
    /* border:solid 1px green; */
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    line-height: 1.5;
    display: block;
    padding:0;
    margin:0;   
}

a.button.order-now#hero-button{
    /* border: solid 1px green; */
    flex:1;
    padding-left:10px;
    padding-right:10px;
    margin:auto;
    margin-top:15px;
    width: clamp(10px, 50%, 200px);
    text-align: center;
}

/* section-1 */
section.section-1{
    /* border:red solid 1px; */
    display: flex;
    flex-direction: column;
    gap:30px;
    padding:clamp(10px, 2vw, 20px) clamp(15px, 4vw, 30px);
    margin-top:60px;
    margin-bottom:60px;
}

header.title-1{
    /* border:green solid 1px; */
    text-align: center;
    max-width: 1000px;
    margin: auto;
}
.title-1 h2{
    /* border:yellow solid 1px; */
    margin:0;
}
.title-1 p{
    /* border:yellow solid 1px; */
    font-weight: 200;
    margin:0;
}

div.container-1 {
    /* border:green solid 1px; */
    display: flex;
    gap:30px;
    text-align: center;
    flex-wrap: wrap;
    margin:auto;
    max-width: 1000px;
}
.container-1 .image-1 {
    /* border: yellow solid 1px; */
    /* height: 400px; */
    flex:1;
    /* min-width: 280px; */
    /* background-color: #F03A40; */
    background-image: url(/assets/nozo-test2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}
article.article-1{
    /* border: yellow solid 1px; */
    background-color: #1E1E1E;
    padding:clamp(10px, 2vw, 20px) clamp(15px, 4vw, 30px);
    border-radius: 0.5rem;
    flex:1;
    display: flex;
    flex-direction: column;
    /* min-width: 280px; */
    justify-content: center;
    transition: all 0.3s ease;
}
.article-1 h3{
    /* border:pink solid 1px; */
    display: block;
    margin:0;
    padding:5px;
    font-weight: 500;
}
.article-1 p{
    /* border:pink solid 1px; */
    display: block;
    margin:0;
    padding:5px;
    margin-top:5px;
    font-weight: 200;
}
.article-1 a{
    /* border:pink solid 1px; */
    max-width: 200px;
    display: block;
    margin-top:15px;
    align-self: center;
}

.container-1 .image-2 {
    /* border: yellow solid 1px; */
    /* background-color: #F03A40; */
    /* height: 400px; */
    flex:1;
    /* min-width: 280px; */
    background-image: url(/assets/nozo-test2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

/* @media & pseudoclass */
@media (max-width:1000px) {
    .container-1 .image-2, .container-1 .image-1{
        min-height: 200px;
        /* margin:auto; */
    }
    div.container-1 {
        flex-direction: column;
    }
    article.article-1{
        min-height: 200px;
        max-width: 500px;
        margin:auto;
        min-width: 100px;
    }
}

.container-1 .image-2:hover, .container-1 .image-1:hover, article.article-1:hover{
    transform:scale(1.01);
}

/* section 2 - featured items */
section.section-2{
    /* border:red solid 1px; */
    background-color: #1E1E1E;
    display: flex;
    padding:clamp(10px, 2vw, 20px) clamp(15px, 4vw, 30px);
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
div.container-2{
    /* border:green solid 1px; */
    display: flex;
    margin:auto;
    max-width: 1000px;
    gap:30px;
    width:100%;
    flex-wrap: wrap;
    margin-top:30px;
    margin-bottom:30px;
}

div.image-3 {
    /* border:yellow solid 1px; */
    flex:1;
    background-image: url(/assets/nozo-test2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

div.article-featured{
    /* border:yellow solid 1px; */
    flex:1;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.article-featured p {
    /* border:greenyellow solid 1px; */
    margin:0;
}
.article-featured h2{
    /* border:greenyellow solid 1px; */
    margin:0;
}
.article-featured ul{
    /* border:greenyellow solid 1px; */
    margin:0;
    padding:0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.article-featured li {
    /* border:pink solid 1px; */
    border-bottom: #2C2C2C 1px solid;
    margin:0;
}
li h3 {
    /* border:white solid 1px; */
    margin:0;
}
li span{
    /* border:white solid 1px; */
    margin:0;
}


/* @media & pseudoclass */
@media (max-width:1000px){
    div.container-2{
        flex-direction: column;
        max-width: 600px;
    }
    div.image-3 {
        min-height: 200px;
    }
}

div.image-3:hover{
    transform:scale(1.01);
}

/* section 3 - contact */
section.section-3{
    /* border:red solid 1px; */
    margin-top:60px;
    margin-bottom: 60px;
    padding:clamp(10px, 2vw, 20px) clamp(15px, 4vw, 30px);
    display: flex;
}

div.big-container{
    /* border:green solid 1px; */
    display: flex;
    margin:auto;
    max-width: 1000px;
    gap:20px;
    width:100%;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    /* margin-top:30px; */
    /* margin-bottom:30px; */
    padding:15px;
    border-radius: 0.5rem;
    background-color: #1E1E1E;
}
div.map{
    /* border:yellow solid 1px; */
    flex:1;
    margin:0;
    display: flex;
    align-items: center;
    background-color: #2C2C2C;
    padding:15px;
    border-radius: 0.5rem;
}
div.map iframe{
    flex:1;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    min-width: 200px;
}

div.med-container{
    /* border:yellow solid 1px; */
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    gap:20px;
    flex:1;
}
div.opening-hour {
    /* border: greenyellow solid 1px; */
    flex:1;
    padding:15px;
    background-color: #2C2C2C;
    border-radius: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:15px;
}
.opening-hour h3{
    /* border:white solid 1px; */
    margin:0;
}
.opening-hour ul{
    /* border:white solid 1px; */
    margin:0;
    padding:0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:10px;
}


div.small-container{
    /* border:greenyellow solid 1px; */
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap:20px;
    flex:1;
}
div.nav-menu{
    /* border:pink solid 1px; */
    flex:1;
    display: flex;
    flex-direction: column;
    min-width: 125px;
    justify-content: space-between;
    gap:15px;
}
div.nav-bar a {
    flex:1;
}

div.mini-container{
    /* border:1px pink solid; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:20px;
    flex:1;
}

.mini-container div.review{
    /* border:orange solid 1px; */
    flex:1;
    padding:15px;
    background-color: #2C2C2C;
    border-radius: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:15px;
}
.mini-container figure{
    /* border:purple solid 1px; */
    /* width: 200px; */
    display: flex;
    flex-direction: column;    
    flex-wrap: wrap;
    gap:5px;
    margin:0;
}
.review img{
    /* border:white 1px solid; */
    padding-left:15px;
    padding-right:15px;
    max-width: 200px;
    margin:0;
    display: block;
    align-self: center;
}
.review figcaption{
    /* border:white 1px solid; */
    margin:0;
    display: block;
}
div.phone{
    /* border:purple solid 1px; */
    flex:1;
    padding:15px;
    background-color: #2C2C2C;
    border-radius: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:5px;
}
div.phone h3{
    margin:0;
}
div.phone p{
    margin:0;
}
div.phone a{
    text-decoration: none;
    color: #d01319;
    font-weight: 600;
}